html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0 0 100px;
  background-color: #FFFEFB;
  padding: 0 0 100px;
  font-family: helvetica;
}

/* Navbar Start*/
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #2D6187;
  justify-content: space-around;
  box-shadow: 8px 8px 15px lightgrey;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
}

/* Hover effekten - trenger å velge farger*/
nav a:hover {
  background-color: white;
  color: #2D6187;

}

nav h1 {
  color: white;
  font-size: 30px;
}

/* Valgte pagen - trenger å velge utseende*/
.active {
  border-bottom: 3px solid white;
}
/* NavBar slutt */

/* Overordnet boks */
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Quote boksen */
.quoteContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  max-width: 60%;
}
.quoteLook {
  font-family: sans-serif;
  font-style: italic;
}

/* Boks for både input og button -
for å kunne organisere de forskjellig */
.searchfield{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* Søkeknappens organisering */
.searchButton {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 5px;
}
button a {
  text-decoration: none;
  color: inherit;
}

/* Søkefeltet */
input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  width: 300px;
  height: 30px;
  border-radius: 5px 5px 5px 5px;
}
/* Overordnet boks Slutt*/

/* Liste "Companies"*/
.companies-container {
  width: 80%;
  margin: auto;
}

li {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D6187;
  border-radius: 15px 15px 15px 15px;
  color: white;
}

li:hover {
  background-color: #ea5455;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
li a {
  display: block;
  padding: 10px;
}
/* Beskrivelse over listen*/
.list-description {
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  text-align: center;
  background-color: #2D6187;
  color: white;
  padding: 10px;
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bedrifts-oppsett {
  display: flex;
/*  width: 100%; */
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  overflow: auto;
  padding: 5%;
  flex-wrap: wrap;
}

.bedrifts-oversikt {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px lightgrey;
  border-radius: 15px 15px 15px 15px;
  padding: 2%;
  margin: 2%;
}
.bedrifts-tittel {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  padding: 20px;
}


.bedrifts-beskrivelse {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.bedrifts-stats {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  box-shadow: 5px 5px 15px lightgrey;
  padding: 2%;
  margin: 2%;
  flex-wrap: wrap;
  border-radius: 15px 15px 15px 15px;
}

.bedrifts-rating {
  display: flex;
  flex-direction: column;
  width: 100%;

}
.bedrifts-ratingElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid lightgrey;
}
.vurdering-tema {
  display: flex;
  justify-content: flex-start;
  /*width: 175px;*/
  width: 97px;
}

.stjerne-vurdering {
  display: flex;
  justify-content: flex-start;
  width: 80px;
}
.bedrifts-ratingBeskrivelse {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about {
  width: 60%;
  margin: auto;
  padding: 40px;
}
.text-blue {
  color: #2D6187;
}
#img-work {
  width: 700px;
  display: flex;
  margin: auto;
}
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  [class*="bedrifts-"] {
    width: 95%;
    margin: 0%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
  }
}
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  [class*="companies-container"] {
    width: 100%;
    margin: 0%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
  }
}
